<div class="panel-heading">Activity<span flex=""></span>
	<div class="pull-right">
	<a href="#"><ng-md-icon icon="settings_input_composite" data-toggle="collapse" data-target="#tabs" style="fill: pink"></ng-md-icon></a>
	</div>
</div>
<div class="panel-body collapse" id="tabs">
	<div class="activity-tabs">
		<md-tabs md-stretch-tabs md-selected="selectedIndex" md-center-tabs>
	     	<md-tab label="Incident Logs"><span flex=""></span>
				<div class="card-body">
		          <div class="streamline b-l b-accent m-b">
		            <div class="sl-item">
		              <div class="sl-content">
		                <div class="text-muted-dk">Just now</div>
		                <p>Event a11 finished <a href="" class="text-info">#features 4</a>.</p>
		              </div>
		            </div>
		            <div class="sl-item b-info">
		              <div class="sl-content">
		                <div class="text-muted-dk">11:30</div>
		                <p>User<a href="">@Tomica</a> generates Fraudulent event</p>
		              </div>
		            </div>
		            <div class="sl-item b-primary b-l">
		              <div class="sl-content">
		                <div class="text-muted-dk">10:30</div>
		                <p>Call from user <a href="" class="text-info">Adi</a></p>
		              </div>
		            </div>
		            <div class="sl-item b-warning">
		              <div class="sl-content">
		                <div class="text-muted-dk">3 days ago</div>
		                <p><a href="" class="text-info">Marina</a> looks at the a13 details.</p>
		              </div>
		            </div>
		            <div class="sl-item b-info">
		              <div class="sl-content">
		                <div class="text-muted-dk">Thu, 10 Mar</div>
		                <p>Processing 13 events in progress...</p>
		              </div>
		            </div>
		          </div>
        		</div>
	     	</md-tab> 
	     	<md-tab label="Duration"><span flex=""></span>
				<div class="card-body">
		          <div class="streamline b-l b-accent m-b">
		            <div class="sl-item">
		              <div class="sl-content">
		                <div class="text-muted-dk">Event a15</div>
		                <p>04:53</p>
		              </div>
		            </div>
		            <div class="sl-item b-info">
		              <div class="sl-content">
		                <div class="text-muted-dk">Event a16</div>
		                <p>02:21</p>
		              </div>
		            </div>
		            <div class="sl-item b-primary b-l">
		              <div class="sl-content">
		                <div class="text-muted-dk">Event a17</div>
		                <p>01:35</p>
		              </div>
		            </div>
		            <div class="sl-item b-warning">
		              <div class="sl-content">
		                <div class="text-muted-dk">Event a19</div>
		                <p>02:12</p>
		              </div>
		            </div>
		            <div class="sl-item b-info">
		              <div class="sl-content">
		                <div class="text-muted-dk">Event a20</div>
		                <p>07:16</p>
		              </div>
		            </div>
		          </div>
        		</div>
	     	</md-tab>
	  	</md-tabs>
	</div>
</div>