<div id="fraudulent" ng-controller="PeakGraphCtrl" ng-cloak>
	<div class="panel-heading">Peak / Offpeak<span flex=""></span>
		<div class="pull-right">
			<ng-md-icon data-toggle="collapse" data-target="#daily" icon="equalizer" style="fill: pink"></ng-md-icon>
			<ng-md-icon data-toggle="collapse" data-target="#daily" icon="keyboard_arrow_down" style="fill: pink"></ng-md-icon>
			<!-- <a href="#" role="button" title="Toggle fullscreen"><i class="glyphicon glyphicon-resize-full"></i></a> -->
		</div>
	</div>
	<div class="panel-body collapse" id="daily">
		<svg id="peak" width="640" height="300"></svg>
	</div>
</div>