<div layout-gt-md="row">
  <panel-widget flex title="Site visitors" template="views/partials/analytics.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Warnings" template="views/partials/fraudulent.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Memory load" template="views/partials/monitoring.html" class="fixed-height-widget"></panel-widget>
</div>

<div layout-gt-md="row">
  <panel-widget flex title="Server Control Panel" template="" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Usage Stats" template="" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Autocomplete Input" template="" options="true" class="fixed-height-widget"></panel-widget>
</div>
