<div layout-gt-md="row">
	<panel-widget flex title="Number of Alarms" template="views/partials/view-by-period-widget.html" class="fixed-height-widget"></panel-widget>
	<panel-widget flex title="Last 4 hours" template="views/partials/last-4-hours-widget.html" class="fixed-height-widget"></panel-widget>
	<panel-widget flex title="Last 24 hours" template="views/partials/last-24-hours-widget.html" class="fixed-height-widget"></panel-widget>
	<panel-widget flex title="Last 4 days" template="views/partials/last-4-days-widget.html" class="fixed-height-widget"></panel-widget>
</div>