<!-- First row -->
<div layout-gt-md="row" dragula="drag">
	<panel-widget flex title="Last hour events" template="views/partials/widgets/last-hour.html" class="fixed-height-widget"></panel-widget>
	<panel-widget flex title="Last 6 hours" template="views/partials/widgets/six-hours.html" class="fixed-height-widget"></panel-widget>
	<panel-widget flex title="Last 24 hours" template="views/partials/widgets/24-hours.html" class="fixed-height-widget"></panel-widget>
	<!-- <panel-widget flex title="HighCharts" template="views/partials/widgets/highcharts.html" class="fixed-height-widget"></panel-widget> -->
	<!-- <panel-widget flex title="Event types example" template="views/partials/widgets/event-types-example.html" class="fixed-height-widget"></panel-widget> -->
</div>

<!-- Second row -->
<div layout-gt-md="row">
	<panel-widget flex title="Events" template="views/partials/table.html" class="fixed-height-widget"></panel-widget>
</div>

<!-- Third row -->
<div layout-gt-md="row" dragula="drag">

	<!-- <panel-widget flex-gt-md="66" title="Peek / Offpeek" template="views/partials/peak.html" class="fixed-height-widget"></panel-widget> -->

    <panel-widget flex-gt-md="32" title="Most Frequent Calls" template="views/partials/most-frequent-calls.html" class="fixed-height-widget"></panel-widget>
</div>


<!-- Fourth row 
<div layout-gt-md="row">
	<panel-widget flex title="Map" template="views/partials/map.html" class="fixed-height-widget"></panel-widget>
</div>
-->
<!-- Footer -->
<div layout-gt-md="row">
	<panel-widget flex class="fixed-height-widget">
		<div class="footer">
	      <div class="container">
	        <p><span class="glyphicon glyphicon-heart" style="color: pink"></span> from the Poslovna inteligencija</p>
	      </div>
	    </div>
    </panel-widget>
</div>



 


